@font-face {
  font-family: "Josefin Sans Light";
  src: url(../../assets/fonts/JosefinSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../../assets/fonts/JosefinSans-Bold.ttf);
  font-weight: 700;
}

.header {
  padding: 10px 21px;
  border-bottom: 1px solid #9CA3AF;
}

.hamburger {
  display: none;
}

.avatar {
  width: 46px;
  height: 46px;
  background-color: grey;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 30px 21px;
    position: relative;
  }
  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 30px 21px;
  }

  .input-search {
    width: 150px !important;
    height: 30px;
  }

  .input-search input {
    padding: 10px 30px;
  }

  .header-input img{
    left: 6px !important;
  }


}
