.forgot-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50rem;
}

.forgot-flex {
  display: flex;
}

.forgot-border {
  height: 443px;
  width: 950px;
  border-radius: 10px;
  background: #f9fafb;
  display: flex;
  align-items: center;
  padding: 0 45px;
}

.forgot-txt h4 {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}

.forgot-txt h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  font-family: "Josefin Sans Light";
  margin-bottom: 16px;
}

.forgot-txt label {
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.forgot-txt button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.signinauth-input img {
  top: 19px;
}

@media only screen and (max-width: 1200px) {
  .forgot-area {
    height: 80rem;
  }

  .forgot-border {
    width: 660px;
    height: 802px;
    border-radius: 10px;
  }

  .forgot-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .forgot-txt h4 {
    text-align: center;
  }

  .forgot-txt h5,
  label {
    width: 70%;
    margin-bottom: 22px;
  }

  .forgot-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .forgot-img {
    margin-bottom: 93px;
  }
}
@media only screen and (max-width: 768px) {
  .forgot-area {
    height: 50rem;
  }

  .forgot-border {
    width: 330px;
    height: 650px;
    border-radius: 10px;
    padding: 0;
  }

  .forgot-flex {
    width: 100%;
  }

  .forgot-txt h4 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
  }

  .forgot-txt h5 {
    width: 70%;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .forgot-txt label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 62%;
    color: #000000;
  }

  .forgot-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .forgot-txt input {
    width: 205px !important;
    height: 29px !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  .forgot-txt button {
    width: 99px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
  }

  .forgot-txt img {
    width: 12.5px;
    height: 10px;
  }
  .forgot-img {
    width: 290px;
    height: 201px;
  }

  .forgot-img img {
    width: 100%;
  }

  .signinauth-input img {
    top: 10px;
  }
}
