.reset-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65rem;
  width: 100%;
}

.reset-border {
  width: 1085px;
  height: 586px;
  border-radius: 10px;
  background: #f9fafb;
}
.reset-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;
}

.reset-txt {
  height: 316px;
}

.reset-txt h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 39px;
  color: #18181b;
}

.reset-txt label {
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-top: 40px;
}

.reset-txt input {
  padding: 0 17px;
}

.reset-txt button {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.reset-img {
  width: 483px;
  height: 316px;
  margin-right: 40px;
  margin-bottom: 77px;
}

.reset-img img {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .reset-border {
    width: 660px;
    height: 1030px;
  }

  .reset-flex {
    display: flex;
    flex-direction: column;
    height: 50rem;
  }

  .reset-img {
    margin-bottom: 77px;
    width: 300px;
  }

  .reset-area {
    height: 100rem;
  }
}

@media only screen and (max-width: 768px) {
  .reset-flex {
    height: 37rem;
  }

  .reset-border {
    width: 330px;
    height: 579px;
  }

  .reset-img {
    height: 196px;
    width: 300px;
  }

  .reset-area {
    height: 50rem;
  }

  .reset-txt label {
    margin-bottom: 0;
    height: 1.2rem;
    font-size: 16px;
    line-height: 16px;
  }

  .reset-txt h2 {
    font-size: 25px;
    line-height: 25px;
  }

  .reset-txt input {
    width: 205px !important;
    height: 29px !important;
    font-size: 12px;
    line-height: 12px;
  }

  .reset-txt button {
    width: 88px !important;
    height: 28px !important;
    border-radius: 8px !important;
    font-size: 10px;
    line-height: 10px;
    color: #f9fafb;
  }

  .reset-img {
    margin: 0 auto;
    margin-bottom: 28px;
  }
}
